
a {
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #ffae00;
}

/*style of header*/
header {
    width: 100%;
    padding: 20px 0;
}
header .nav_ {
    width: 100%;
    padding-top: 24px;
    vertical-align: middle;
}
header .nav_ li {
    display: inline-block;
    width: 12%;
    text-align: center;
}
header .nav_ li:last-child a {
    border-right: none;
}
header .nav_ li a {
    display: inline-block;
    width: 100%;
    border-right: 1px solid #000;
}


/*style of footer*/
footer .footer {
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    padding-top: 2%;
    padding-bottom: 5%;
}
footer .footer .title {
    color: #c96f1c;
    padding-bottom: 15px;
    font-size: 14px;
}
footer .footer .title span {
    position: relative;
}
footer .footer .title span:after {
    position: absolute;
    right: -6px;
    top: -6px;
    content: url('../images/Biao.png');
}
footer .footer ul li {
    text-align: center;
    line-height: 1.5em;
    font-size: 12px;
    padding-bottom: 6px;
}
footer .footer ul.contact li {
    text-align: left;
    padding-left: 40px;
}
footer .footer a {
    color: #fff;
    font-size: 12px;
}
footer .bottom_line {
    text-align: center;
    padding: 2% 0;
    line-height: 1.5em;
}
footer .bottom_line ul {
    padding-bottom: 10px;
}
footer .bottom_line li {
    display: inline-block;
    padding: 0 0.7em;
}
footer .bottom_line li a {
    position: relative;
    font-size: 13px;
    color: #333;
}
footer .bottom_line li a:after {
    content: '';
    width: 1px;
    height: 100%;
    border-right: 1px solid #ccc;
    position: absolute;
    right: -13px;
    top: 0;
}
footer .bottom_line li:last-child a:after {
    border: none;
}
